[Desktop Entry]
Categories=
Comment=This starts an instance of ${artifactId}
Comment[en]=This starts an instance of ${artifactId}
Encoding=UTF-8
Exec=/usr/bin/${artifactId} 
GenericName=
GenericName[en]=
Icon=/usr/local/lib/grisu/icons/${artifactId}.png
MimeType=
Name=${artifactId}
Name[en]=${artifactId}
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
URL=
X-KDE-SubstituteUID=false
X-KDE-Username=root

