Package: ${artifactId}
Version: VERSION_TOKEN
Section: misc
Priority: optional
Architecture: all
Depends: java-runtime,libbcprov-java
Maintainer: Please Change <this@src.pkg.control.control>
Description: Please enter description
